.ruff_cache/
.vscode/
*.ipynb
*.pt
**/__pycache__/
datasets/
# models/
new_models/
results/
wandb/
runs/
videos/
*.pyc
*.pkl
*.mp4
*.png
*.pdf
*.gif
prompt_dtla/results
prompt_dtla/wandb
prompt_dtla.egg-info/*
.condatmp
atari_bc/videos
results/*
videos/*
prompt_dtla/models/vq/data/*
exps.txt
test_imports.py
exps*
scripts/videos/*
prompt_dtla/outputs/*
prompt_dtla/sbx/*